* {
  background-color: #000;
  color: #FFF;
  font-family: 'Open Sans';
}

.container {
  margin-left: 500px;
}

h1 {
  text-transform: uppercase;
  font-size: 100px;
}

h2 {
  background-color: #03A678;
  font-size: 30px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.completed {
  text-decoration: line-through;
}

.todo-item {
  font-size: 40px;
}

.todo-item:hover {
  cursor: pointer;
}
