<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buttons</title>
    <script src="/js/buttons.js" charset="utf-8"></script>
  </head>
  <body>

    <h1>Buttons</h1>

  </body>
</html>
